
body{
    background-color: rgb(49, 49, 49);
    text-align: center;
}
.mainblock{
    background-color: rgb(71, 71, 71);
    width: 600px;
    height: 380px;
    text-align: left;
    margin-top: 15px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#main {
    width: 100%;
    display: block;
}
.ava{
    margin-top:20px;
    margin-left: 100px;
    width: 200px;
    border-radius: 5px;
}
.info {
    font-family: arial;
    color: white;
    text-align: center;
}
.switchblock{
    background-color: rgb(56, 56, 56);
    width: 380px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: -90px;
}
.button {
    background-color: rgb(75, 75, 75);
    width: 120px;
    height: 70px;
    border-radius: 5px;
    border-left: 1px solid none;
    right: 10px;
    display: inline-block;
    bottom: 0;
    margin-top: 5px;
    border:none;
    font-size: 18px;
    font-family: arial;
    color: white;
    transition: 0.3s;
    
}
.button:hover{
    background-color: rgb(99, 99, 99);
    cursor: pointer;
    transition: 0.3s;
}
.content0{
    font-family: arial;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 300px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}
.content1{
    font-family: arial;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 600px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;

}
.content2{
    font-family: arial;
    background-color: rgb(71, 71, 71);
    color: white;
    width: 300px;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
}
.hide{
    display: none;
}
.works{
    background-color: rgb(56, 56, 56);
    width: 120px;
    height: 120px;
    border-radius: 5px;
    border-left: 1px solid none;
    display: inline-block;
    line-height: 120px; 
}
